In [1]:
import pandas as pd
df = pd.read_excel(r"C:\Users\ankit\Downloads\Zara_Cleaned_Data.xlsx") #Importing the excel file into DataFrame

In [2]:
df.head() #Showcasing the data

,Product ID,Product Position,Promotion,Seasonal,Sales Volume,brand,url,name,description,price,terms,section,season,material,origin
0,185102,Aisle,Yes,Yes,1243,Zara,https://www.zara.com/us/en/basic-puffer-jacket...,BASIC PUFFER JACKET,Puffer jacket made of tear-resistant ripstop f...,$78.99,jackets,MAN,Winter,Polyester,Brazil
1,188771,Aisle,Yes,No,1429,Zara,https://www.zara.com/us/en/tuxedo-jacket-p0889...,TUXEDO JACKET,Straight fit blazer. Pointed lapel collar and ...,$14.99,jackets,MAN,Autumn,Cotton,Turkey
2,180176,End-cap,Yes,Yes,1168,Zara,https://www.zara.com/us/en/slim-fit-suit-jacke...,SLIM FIT SUIT JACKET,Slim fit jacket. Notched lapel collar. Long sl...,$71.95,jackets,WOMAN,Autumn,Polyester,Morocco
3,112917,Aisle,Yes,No,1348,Zara,https://www.zara.com/us/en/stretch-suit-jacket...,STRETCH SUIT JACKET,Slim fit jacket made of viscose blend fabric. ...,$30.99,jackets,MAN,Spring,Polyester,China
4,192936,End-cap,Yes,Yes,1602,Zara,https://www.zara.com/us/en/double-faced-jacket...,DOUBLE FACED JACKET,Jacket made of faux leather faux shearling wit...,$22.99,jackets,WOMAN,Winter,Wool Blend,China

In [3]:
df.shape #No of rows and columns

(20252, 15)

In [4]:
df.info() #General information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20252 entries, 0 to 20251
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product ID        20252 non-null  int64
 1   Product Position  20252 non-null  object
 2   Promotion         20252 non-null  object
 3   Seasonal          20252 non-null  object
 4   Sales Volume      20252 non-null  int64
 5   brand             20252 non-null  object
 6   url               20252 non-null  object
 7   name              20251 non-null  object
 8   description       20250 non-null  object
 9   price             20252 non-null  object
 10  terms             20252 non-null  object
 11  section           20252 non-null  object
 12  season            20252 non-null  object
 13  material          20252 non-null  object
 14  origin            20252 non-null  object
dtypes: int64(2), object(13)
memory usage: 2.3+ MB

In [5]:
df.isnull().sum() #Checking the missing values

Product ID          0
Product Position    0
Promotion           0
Seasonal            0
Sales Volume        0
brand               0
url                 0
name                1
description         2
price               0
terms               0
section             0
season              0
material            0
origin              0
dtype: int64

In [6]:
df[df.isnull().any(axis=1)] #Showing the rows with missing values

,Product ID,Product Position,Promotion,Seasonal,Sales Volume,brand,url,name,description,price,terms,section,season,material,origin
60,151925,End-cap,No,Yes,845,Zara,https://www.zara.com/us/en/vintage-effect-leat...,VINTAGE EFFECT LEATHER BOMBER JACKET,NaN,$29.95,jackets,WOMAN,Autumn,Cotton,Portugal
72,173576,End-cap,No,Yes,789,Zara,https://www.zara.com/us/en/-p04310461.html,NaN,NaN,$22.95,jackets,MAN,Spring,Polyester,Cambodia

In [8]:
df.dropna(how = "any", inplace = True) #Removing the missing values because the missing values arent significant for the analysis

In [9]:
df.isnull().sum() #checking the missing values again

Product ID          0
Product Position    0
Promotion           0
Seasonal            0
Sales Volume        0
brand               0
url                 0
name                0
description         0
price               0
terms               0
section             0
season              0
material            0
origin              0
dtype: int64

In [12]:
df.describe(include = "all") #Summary Statistics

,Product ID,Product Position,Promotion,Seasonal,Sales Volume,brand,url,name,description,price,terms,section,season,material,origin
count,20250.000000,20250,20250,20250,20250.000000,20250,20250,20250,20250,20250,20250,20250,20250,20250,20250
unique,NaN,3,2,2,NaN,1,228,17215,221,330,5,2,4,11,12
top,NaN,Aisle,No,No,NaN,Zara,https://www.zara.com/us/en/knit-sweater-with-r...,PLAID OVERSHIRT,Varsity jacket with elastic collar and long sl...,$19.99,jackets,WOMAN,Autumn,Cotton,China
freq,NaN,7810,11810,10136,NaN,20250,187,8,333,662,11230,13253,7664,3850,4026
mean,208935.993383,NaN,NaN,NaN,1097.428148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,8949.110701,NaN,NaN,NaN,298.236187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,110075.000000,NaN,NaN,NaN,518.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,204444.250000,NaN,NaN,NaN,849.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,209506.500000,NaN,NaN,NaN,990.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,214568.750000,NaN,NaN,NaN,1364.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,219631.000000,NaN,NaN,NaN,1940.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.columns = df.columns.str.lower() #Making the columns lowercase

In [14]:
df.columns = df.columns.str.replace(" ","_") #Replacing spaces with _ in column names

In [ ]:
df.drop("brand", axis =1, inplace = True) #Dropping the brand column because it contains only the company's name

In [23]:
df.drop("url", axis =1, inplace = True) #Dropping the url column because it isn't necessary

In [19]:
df['price'] = df['price'].replace(r'[\$,]', '', regex=True).astype(float) #Changing the data type of price into float

In [ ]:
df.set_index('product_id', inplace=True) #Setting the product_id as index

In [31]:
df.index #Checking the index

Index([185102, 188771, 180176, 112917, 192936, 117590, 189118, 182157, 141861,
       137121,
       ...
       219622, 219623, 219624, 219625, 219626, 219627, 219628, 219629, 219630,
       219631],
      dtype='int64', name='product_id', length=20250)

In [30]:
df.columns #rechecking the columns

Index(['product_position', 'promotion', 'seasonal', 'sales_volume', 'name',
       'description', 'price', 'terms', 'section', 'season', 'material',
       'origin'],
      dtype='object')

In [32]:
df.duplicated().sum() #Checking duplicate values

np.int64(0)

In [33]:
df.head() #Presenting cleaned dataset

,product_position,promotion,seasonal,sales_volume,name,description,price,terms,section,season,material,origin
product_id,,,,,,,,,,,,
185102,Aisle,Yes,Yes,1243,BASIC PUFFER JACKET,Puffer jacket made of tear-resistant ripstop f...,78.99,jackets,MAN,Winter,Polyester,Brazil
188771,Aisle,Yes,No,1429,TUXEDO JACKET,Straight fit blazer. Pointed lapel collar and ...,14.99,jackets,MAN,Autumn,Cotton,Turkey
180176,End-cap,Yes,Yes,1168,SLIM FIT SUIT JACKET,Slim fit jacket. Notched lapel collar. Long sl...,71.95,jackets,WOMAN,Autumn,Polyester,Morocco
112917,Aisle,Yes,No,1348,STRETCH SUIT JACKET,Slim fit jacket made of viscose blend fabric. ...,30.99,jackets,MAN,Spring,Polyester,China
192936,End-cap,Yes,Yes,1602,DOUBLE FACED JACKET,Jacket made of faux leather faux shearling wit...,22.99,jackets,WOMAN,Winter,Wool Blend,China

In [ ]:
#Feature Engineering

In [34]:
df['price_elasticity'] = df['sales_volume'] / df['price'] #Creating a price_elasiticity column

In [36]:
df[['sales_volume','price','price_elasticity']].head()

            sales_volume  price  price_elasticity
product_id
185102              1243  78.99         15.736169
188771              1429  14.99         95.330220
180176              1168  71.95         16.233495
112917              1348  30.99         43.497903
192936              1602  22.99         69.682471

In [37]:
df.describe()

       sales_volume         price  price_elasticity
count  20250.000000  20250.000000      20250.000000
mean    1097.428148     41.950592         35.792522
std      298.236187     23.381581         23.183603
min      518.000000     12.000000          4.318466
25%      849.000000     23.950000         18.129532
50%      990.000000     35.950000         30.519042
75%     1364.750000     53.950000         46.929209
max     1940.000000    134.990000        136.500000

In [38]:
df['price_category'] = df['price'].apply(lambda p: 'Low' if p < 35 else ('Medium' if p < 70 else 'High')) #Creating a price_category column

In [40]:
df.columns

Index(['product_position', 'promotion', 'seasonal', 'sales_volume', 'name',
       'description', 'price', 'terms', 'section', 'season', 'material',
       'origin', 'price_elasticity', 'price_category'],
      dtype='object')

In [44]:
df[['price','price_category']].head(10)

            price price_category
product_id
185102      78.99           High
188771      14.99            Low
180176      71.95           High
112917      30.99            Low
192936      22.99            Low
117590      25.95            Low
189118      87.99           High
182157      24.00            Low
141861      32.95            Low
137121      39.95         Medium

In [46]:
df.head(10) #End of EDA

,product_position,promotion,seasonal,sales_volume,name,description,price,terms,section,season,material,origin,price_elasticity,price_category
product_id,,,,,,,,,,,,,,
185102,Aisle,Yes,Yes,1243,BASIC PUFFER JACKET,Puffer jacket made of tear-resistant ripstop f...,78.99,jackets,MAN,Winter,Polyester,Brazil,15.736169,High
188771,Aisle,Yes,No,1429,TUXEDO JACKET,Straight fit blazer. Pointed lapel collar and ...,14.99,jackets,MAN,Autumn,Cotton,Turkey,95.330220,Low
180176,End-cap,Yes,Yes,1168,SLIM FIT SUIT JACKET,Slim fit jacket. Notched lapel collar. Long sl...,71.95,jackets,WOMAN,Autumn,Polyester,Morocco,16.233495,High
112917,Aisle,Yes,No,1348,STRETCH SUIT JACKET,Slim fit jacket made of viscose blend fabric. ...,30.99,jackets,MAN,Spring,Polyester,China,43.497903,Low
192936,End-cap,Yes,Yes,1602,DOUBLE FACED JACKET,Jacket made of faux leather faux shearling wit...,22.99,jackets,WOMAN,Winter,Wool Blend,China,69.682471,Low
117590,End-cap,Yes,Yes,1282,CONTRASTING COLLAR JACKET,Relaxed fit jacket. Contrasting lapel collar a...,25.95,jackets,WOMAN,Autumn,Cotton,Turkey,49.402697,Low
189118,Front of Store,No,No,688,FAUX LEATHER PUFFER JACKET,Faux leather puffer jacket. High collar and lo...,87.99,jackets,MAN,Winter,Acrylic,China,7.819070,High
182157,Aisle,Yes,Yes,1711,SUIT JACKET IN 100% LINEN,Straight fit blazer made of linen. Notched lap...,24.00,jackets,WOMAN,Summer,Cotton,Portugal,71.291667,Low
141861,Aisle,No,Yes,857,100% WOOL SUIT JACKET,Jacket made of Italian wool. Pointed lapel col...,32.95,jackets,WOMAN,Winter,Wool,India,26.009105,Low
137121,Aisle,No,No,769,100% FEATHER FILL PUFFER JACKET,Puffer jacket made of shiny finish technical f...,39.95,jackets,MAN,Autumn,Wool Blend,China,19.249061,Medium

In [48]:
#Importing table to MySQL Workbench
from sqlalchemy import create_engine

#username = "root"
#password = "Ankit2002@"
#host = "localhost"
#port = "3306"
#database = "ZARA"
engine = create_engine("mysql+pymysql://root:Ankit2002%40@127.0.0.1:3306/ZARA")

#dataframe to MySQL
#table = "sales_data"
df.to_sql('sales_data', con=engine, if_exists='replace', index=True)

20250